
/melonet-backend/melonet.db
/melonet-backend/melonet.db-journal


/melonet-backend/data/audio/*
/melonet-backend/data/covers/*


!/melonet-backend/data/audio/.gitkeep
!/melonet-backend/data/covers/.gitkeep


.gradle/
/local.properties
/.idea/
**/build/
*.iml
